{% extends "base.html" %}

{% block content %}

<div class="container py-4">
    <h3 class="mb-4">Boat Time</h3>
    <div class="row mb-4">
        <div class="col-md-6">
            <input type="text" id="tagSearch" class="form-control" placeholder="Filter by Anything" oninput="filter()">
        </div>
        <div class="col-md-2">
            <a href="{{ url_for('captains.edit_boat', boat='new')}}" class='btn btn-primary'>New Boat</a>
        </div>
    </div>
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th scope="col" width="30%">Boat</th>
                <th scope="col" width="30%">Shell</th>
                <th scope="col" width="20%">Tags</th>
                <th scope="col" width="20%">Active</th>
            </tr>
        </thead>
        <tbody id="userTableBody">
            {% for boat in boats_list %}
                <tr>
                    <td> <a href={{ url_for("captains.edit_boat", boat=boat.name) }} class='btn btn-primary'>{{boat.name}}</a> </td>
                    <td>
                        <p>{{ boat.shell }}</p>
                    </td>
                    <td>
                        {% for tag in boat.tags %}
                            <div class='btn btn-secondary'> {{tag}} </div>
                        {% endfor %}
                    </td>
                    <td>
                        <input type="radio" class="btn-check" name="{{ boat.name }}-radio" id="{{ boat.name }}-active" data-boat="{{ boat.name }}" data-status="True" autocomplete="off" {% if boat.active %}checked{% endif %}>
                        <label class="btn btn-outline-success" for="{{ boat.name }}-active">Active</label>

                        <input type="radio" class="btn-check" name="{{ boat.name }}-radio" id="{{ boat.name }}-inactive" data-boat="{{ boat.name }}" data-status="False" autocomplete="off"  {% if not boat.active %}checked{% endif %}>
                        <label class="btn btn-outline-danger" for="{{ boat.name }}-inactive">Inactive</label>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        function filter() {
            var searchQuery = document.getElementById('tagSearch').value.toLowerCase();
            var rows = document.querySelectorAll('#userTableBody tr');

            rows.forEach(function(row) {
                // Check search query
                var cells = row.querySelectorAll('td'); // Each tag is inside a div
                var rowMatch = Array.from(cells).some(function(cell) {
                    return cell.textContent.toLowerCase().includes(searchQuery);
                });

                if (rowMatch) {
                    row.style.display = ''; // Show row if it matches the search
                } else {
                    row.style.display = 'none'; // Hide row
                }
            });
        }

        document.getElementById('tagSearch').addEventListener('input', filter);

        filter(); // Initial call to filter on page load

    const radios = document.querySelectorAll('.btn-check');

    radios.forEach(function(radio) {
        radio.addEventListener('change', function() {
            const boatName = this.dataset.boat;
            const status = this.dataset.status;

            fetch(window.location.href, {  // Sending the request to the current URL
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    boat: boatName,
                    status: status
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
    });
});
</script>
</script>
{% endblock %}
