{% extends "base.html" %}

{% block content %}
<style>
    .yes {
        background-color: #98FB98 !important; /* Green for Yes */
        color: black;
    }
    .limited {
        background-color: #FFFFE0 !important; /* Yellow for Limited */
        color: black;
    }
    .no {
        background-color: #FF6F6F !important; /* Red for No */
        color: black;
    }
    .disabled-td{
        cursor: not-allowed;
        background-color: #EEE !important;
        color: #9E9999 !important;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap; /* Allow items to wrap within the container */
    }
    .flex-item {
        flex: 0 1 auto; /* Flexibly grow and shrink as needed */
        min-width: 10px; /* Minimum width for the input field */
        max-width: none;
        display: inline-flex; /* Ensures the items only take the space they need */
        width: auto !important;
        box-sizing: content-box; /* Ensure padding doesn't affect width */
    }
    button {
        flex: 0 1 auto; /* Prevent the button from stretching */
        white-space: nowrap; /* Prevent the button text from wrapping */
    }
</style>

<div class="container py-4">
    <h3 class="mb-4">Welcome to the Captain's Space</h3>

    <a type="button" class="btn btn-primary mb-3" href='/captains/races'>View and Change Races and Events</a>
    <a type="button" class="btn btn-primary mb-3" href='/captains/boats'>View and Change Boats</a>


    <div class="row mb-3">
        <div class="col-md-3">
            <select id="squadFilter" class="form-select" onchange="filter()">
                <option value="all">All Squads</option>
                <option value="womens">Womens</option>
                <option value="mens">Mens</option>
            </select>
        </div>
        <div class="col-md-3">
            <select id="tagFilter" class="form-select" onchange="filter()">
                <option value="all">All Rowers</option>
                {% for tag in unique_tags %}
                    <option value="{{ tag }}">{{ tag }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <input type="text" id="nameSearch" class="form-control" placeholder="Search by Name or Tag" oninput="filter()">
        </div>
    </div>

    <div class="table-responsive">

    <form method="POST" id="captainForm" action="/captains">

    <table class="table table-bordered table-hover table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col" width="5%">CRSID</th>
                <th scope="col" width="10%">Name</th>
                <th scope="col" width="7.5%">Squad</th>
                <th scope="col" width="5%">Bowside</th>
                <th scope="col" width="5%">Strokeside</th>
                <th scope="col" width="5%">Cox</th>
                <th scope="col" width="20%">Tags</th>
                <th scope="col" width="10%">Action</th>
            </tr>
        </thead>
        <tbody id="userTableBody">
            {% for user in users %}
            <tr class="squad-{{ user.squad|lower }} tag-{{ user.tags|format_tags }}">
                <td>{{ user.crsid }}</td>
                <td>{{ user.preferred_name+' '+user.last_name }}</td>
                <td>{{ user.squad }}</td>

                <td class="{{ 'yes' if user.bowside == 'Yes' else 'limited' if user.bowside == 'Limited' else 'no' }} equal-width">
                    {{ user.bowside }}
                </td>

                <td class="{{ 'yes' if user.strokeside == 'Yes' else 'limited' if user.strokeside == 'Limited' else 'no' }} equal-width">
                    {{ user.strokeside }}
                </td>

                <td class="{{ 'yes' if user.cox == 'Yes' else 'limited' if user.cox == 'Limited' else 'no' }} equal-width">
                    {{ user.cox }}
                </td>

                <td style="width: 600px;">
                    <div id="tags-{{ user.crsid }}">
                        <div class="flex-container">
                            {% if user.tags %}
                                {% for tag in user.tags.split(',') %}
                                    <div class="flex-item d-flex align-items-center mb-1">
                                        <button type="button" name="tag_{{ user.crsid }}[]" class="btn btn-secondary me-1 disabled-td" data-tag="{{ tag }}" style="cursor:default">{{ tag }}</button>
                                        <input hidden name="tag_{{ user.crsid }}[]" value="{{ tag }}" />
                                        <button type="button" class="btn btn-danger btn-sm delete-tag me-2" data-crsid="{{ user.crsid }}" data-tag="{{ tag }}">X</button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div id="new-tags-{{ user.crsid }}">
                            <!-- New crew fields will be added here -->
                        </div>

                        <button type="button" class="btn btn-success btn-sm mt-2" id="add-tag-{{ user.crsid }}" data-crsid="{{ user.crsid }}">Add Tag</button>
                    </div>
                </td>

                <td>
                    <a href="{{ url_for('plot', crsid=user.crsid) }}" class="btn btn-primary btn-sm mb-2">View Profile</a>

                    <a href="{{ url_for('delete_user', crsid=user.crsid) }}" class="btn btn-danger btn-sm">Delete User</a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

    <button type="submit" class="btn btn-success mt-3">Commit Changes</button>

    </form>

    </div>
</div>

<script src="{{ url_for('static', filename='js/captains.js') }}"></script>

{% endblock %}
