
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- <link href="http://cdn.bokeh.org/bokeh/release/bokeh-3.0.1.min.css" rel="stylesheet" type="text/css"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/3.4.1/bokeh.min.js"
        integrity="sha512-iH5rrOjYD1wVVcGRP3MAYcLXOsuDrbf0zPLvAv/H5ehk97HJfbmk9mQ6FDFwDWXiaGdZ9cS7GskmMei2Wc7q0w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>DCBC Erger</title>

    <script>
        function setDateRange(fromDate, toDate) {
            document.getElementById('fromDate').value = fromDate;
            document.getElementById('toDate').value = toDate;
            document.getElementById('dateForm').submit();
        }
    </script>
</head>

<body>
     <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #bb0088;" class="mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ home }}">
                <img src="./static/armarrow.svg" width="80" height="80" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ home }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ club }}">Club Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ plot }}">Season</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ data_url }}">Data</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col">
                <h4 class="text-center">We love ergs at DCBC</h4>
                {{ div[0] | safe }}
                {{ script[0] | safe }}

                <!-- Form for date selection -->
                <div class="text-center mb-4">
                    <button class="btn btn-secondary me-2" onclick="setDateRange('2024-01-01', '2024-01-31')" style="background-color: #bb0088; text-color: white;">2024-25 Season</button>
                    <button class="btn btn-secondary me-2" onclick="setDateRange('2024-04-01', '2024-06-30')">Michaelmas</button>
                    <button class="btn btn-secondary" onclick="setDateRange('2024-07-01', '2024-12-31')">Lent</button>
                    <button class="btn btn-secondary" onclick="setDateRange('2024-07-01', '2024-12-31')">Easter</button>
                </div>

                <!-- Form for date selection -->
                <form id="dateForm" action="/your-post-endpoint" method="post">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="fromDate" class="form-label">From Date</label>
                            <input type="date" id="fromDate" name="from_date" class="form-control" required>
                        </div>
                        <div class="col">
                            <label for="toDate" class="form-label">To Date</label>
                            <input type="date" id="toDate" name="to_date" class="form-control" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-secondary">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
