{% extends "coachbase.html" %}

{% block content %}

<style>
    .custom-grid {
        display: grid; /* Use CSS Grid layout */
        grid-template-columns: repeat(7, 1fr); /* Create 7 equal columns */
        gap: 1rem; /* Space between columns */
    }

    /* Responsive behavior: stack vertically on small screens */
    @media (max-width: 1200px) {
        .custom-grid {
            grid-template-columns: 1fr; /* Stack columns vertically */
        }
    }

    .col-custom {
        border: 1px solid #dee2e6; /* Optional: Border for visual separation */
        border-radius: .25rem; /* Optional: Rounded corners */
        padding: 0.5rem; /* Optional: Padding inside each column */
        text-align: center; /* Center text */
    }
</style>

<div class="container-fluid  py-4 px-4">
    <div class="row row-cols-1 row-cols-lg-4 g-3">
        <div class="col">
            <div class="input-group">
                <div for="fromDateBox" class="input-group-text">Week of:</div>
                <input class="form-control" type="date" for="weekof" id="fromDateBox" value={{ fromDate }} disabled/>
            </div>
        </div>

        <div class="col d-flex justify-content-center">
            <button class="btn btn-secondary me-2" id="previousWeekButton" type="button">Previous Week</button>
            <button class="btn btn-secondary" id="nextWeekButton" type="button">Next Week</button>
        </div>

        <div class="col">
            <input type="text" class="form-control" id="outingSearchInput" placeholder="Search outings...">
        </div>

    </div>

    <div id = "outingsContainer" class="row  row-cols-7 row-cols-lg-7 px-2 text-center py-4 custom-grid">
            <div class="col-custom" data-day="Monday"></div>
            <div class="col-custom" data-day="Tuesday"></div>
            <div class="col-custom" data-day="Wednesday"></div>
            <div class="col-custom" data-day="Thursday"></div>
            <div class="col-custom" data-day="Friday"></div>
            <div class="col-custom" data-day="Saturday"></div>
            <div class="col-custom" data-day="Sunday"></div>
    </div>

</div>

<script>
    window.lightings = {{ lightings|tojson|default('{}')|safe }};
    window.yourOutings = {{ user_outings|tojson|default('{}')|safe }};
    window.subOutings = {{ sub_outings|tojson|default('{}')|safe }};
    window.otherOutings = {{ other_outings|tojson|default('{}')|safe }};
    window.fromDate = new Date("{{ fromDate }}");
    window.races = {{ races|tojson|default('{}')|safe }};
</script>

<script src="{{ url_for('static', filename='js/outings.js') }}"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

{% endblock %}
