{% extends "base.html" %}

{% block content %}

<div class="container-fluid py-4">
    <div class="row">
        <h1>
            Welcome to the DCBC Erg Tracker!
        </h1>

        <p> Use the header buttons above to navigate the website </p>

        {% if not logbook %}
            <p><a href = "{{ authorize }}"> Add a Concept2 Logbook account</a> to keep track of your ergs! </p>
        {% else %}
            <p><a href = "{{ authorize }}"> Reload your Concept2 Logbook account</a> if something is broken </p>
        {% endif %}
    </div>
</div>


{% endblock %}
