{% extends "base.html" %}

{% block content %}

<div class="container-fluid mt-4">
    <div class="row px-5 py-4">
        <div class="col mx-2">
            <div class="row border rounded mb-3 p-4">
                <h1>
                Welcome to the DCBC System!
                </h1>
            </div>
            <div class="row border rounded mb-3 p-4">
                <h3>Upcoming Outings</h3>
                {% if outings %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width:40%">Date</th>
                                <th style="width:20%">Time</th>
                                <th style="width:40%">Crew</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for outing in outings %}
                                <tr>
                                    <td><a href="{{ url_for("view_outing", id=outing.outing_id ) }}">{{ outing.date_time.strftime('%Y-%m-%d') }}</a></td>
                                    <td>{{ outing.date_time.strftime('%H:%M') }}</td>
                                    <td>{{ outing.boat_name }}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p> You have no upcoming outings! </p>
                {% endif %}
            </div>
            <div class="row border rounded mb-3 p-4">
                <h3>Your Boats</h3>
                {% if boats %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Boat</th>
                                <th>Seat</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for boatkey, boatvalue in boats.items() %}
                                <tr>
                                    <td><a href="{{ url_for("view_boat", name=boatkey) }}">{{ boatkey }}</a></td>
                                    <td>{{ boatvalue }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p> You aren't a member of any boats yet! </p>
                {% endif %}
            </div>

            <div class="row border rounded mb-3 p-4"
                <p>Use the header buttons above to navigate the website </p>

                {% if not logbook %}
                    <p><a href = "{{ url_for('authorize') }}">Add a Concept2 Logbook account</a> to keep track of your ergs! </p>
                {% else %}
                    <p><a href = "{{ url_for('authorize') }}">Reload your Concept2 Logbook account</a> if something is broken </p>
                {% endif %}
            </div>
        </div>
        <div class="col mx-2">
            <div class="row border rounded mb-3 p-4">
                {% if logbook %}
                    <h3>Last 5 Ergs</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width:25%">Date</th>
                                <th style="width:25%">Distance</th>
                                <th style="width:25%">Time</th>
                                <th style="width:25%">Split</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for workout in workouts_dict.values() %}
                                <tr>
                                    <td>{{ workout.date }}</td>
                                    <td>{{ workout.distance }}m</td>
                                    <td>{{ workout.time }}</td>
                                    <td>{{ workout.split }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                <h3>Upcoming Ergs</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width:25%">Date</th>
                            <th style="width:25%">Type</th>
                            <th style="width:50%">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2024-09-22</td>
                            <td>AT</td>
                            <td>Ian's Weekly AT</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% if pb2k or pb5k %}
                <div class="row border rounded mb-3 p-4">
                    <h3>PBs</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width:50%">2K PB</th>
                                <th style="width:50%">5K PB</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% if pb2k %}
                                    <td>{{ pb2k.time }} on {{ pb2k.date }}</td>
                                {% else %}
                                    <td> No verified 2k </td>
                                {% endif %}

                                {% if pb5k %}
                                    <td>{{ pb5k.time }} on {{ pb5k.date }}</td>
                                {% else %}
                                    <td> No verified 2k </td>
                                {% endif %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}
