{% extends "base.html" %}

{% block content %}

<form method="post" action="/setup?no-logbook=True">
    <div class="container-fluid py-4">
        <table>
            <tr>
                <td><label for="crsid">CRSID:</label></td>
                <td><input type="text" id="crsid" name="crsid" value="{{ crsid }}" readonly disabled></td>
            </tr>
            <tr>
                <td><label for="first_name">First Name:</label></td>
                <td><input type="text" id="first_name" name="first_name"></td>
            </tr>
            <tr>
                <td><label for="last_name">Last Name:</label></td>
                <td><input type="text" id="last_name" name="last_name"></td>
            </tr>
            <tr>
                <td><label for="color">Color:</label></td>
                <td><input type="text" id="color" name="color" readonly value="{{ color }}" style="background-color: {{ color }}; border: 1px solid #ccc;"></td>
            </tr>
            <tr>
                <td><label for="preferred_name">Preferred Name:</label></td>
                <td><input type="text" id="preferred_name" name="preferred_name"></td>
            </tr>

            <tr>
                <td colspan="2" style="height: 20px; background-color: transparent;"></td>
            </tr>

            <tr>
                <td><label for="bowside">Bowside Ability:</label></td>
                <td><select id="bowside" name="bowside">
                    <option>Yes</option>
                    <option>Limited</option>
                    <option>No</option>
                </select></td>
            </tr>
            <tr>
                <td><label for="strokeside">Strokeside Ability:</label></td>
                <td><select id="strokeside" name="strokeside">
                    <option>Yes</option>
                    <option>Limited</option>
                    <option>No</option>
                </select></td>
            </tr>
            <tr>
                <td><label for="coxing">Coxing Ability:</label></td>
                <td><select id="coxing" name="coxing">
                    <option>Yes</option>
                    <option>Limited</option>
                    <option>No</option>
                </select></td>
            </tr>
            <tr>
                <td><label for="sculling">Sculling Ability:</label></td>
                <td><select id="sculling" name="Sculling">
                    <option>Yes</option>
                    <option>Limited</option>
                    <option>No</option>
                </select></td>
            </tr>
            <tr>
                <td><label for="years_rowing">Years Rowing:</label></td>
                <td><input type="number" id="years_rowing" name="years_rowing" ></td>
            </tr>

            <tr>
                <td colspan="2" style="height: 20px; background-color: transparent;"></td>
            </tr>

            <tr>
                <td><label for="squad">Squad:</label></td>
                <td>
                    <select id="squad" name="squad">
                        <option value="Mens">Mens</option>
                        <option value="Womens">Womens</option>
                        <option value="Both">Both</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="year">Year:</label></td>
                <td>
                    <select id="year" name="year">
                        <option>1st</option>
                        <option>2nd</option>
                        <option>3rd</option>
                        <option>4th</option>
                        <option>5th</option>
                        <option>6th</option>
                        <option>7th</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="subject">Subject:</label></td>
                <td><input type="text" id="subject" name="subject"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </div>
</form>

{% endblock %}
