{% extends "base.html" %}

{% block content %}
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col">
                <h4 class="text-center">2K PBs</h4>
                {{ div[0] | safe }}
                {{ script[0] | safe }}
            </div>

            <div class="col">
                <h4 class="text-center">5K PBs</h4>
                {{ div[1] | safe }}
                {{ script[1] | safe }}
            </div>
        </div>
    </div>

{% endblock %}
