{% extends "base.html" %}

{% block content %}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
        cursor: pointer;
        user-select: none;
        position: relative;
    }
    th {
        background-color: #f2f2f2;
    }
    .available {
        background-color: #98FB98; /* Light green for available */
    }
    .not-available {
        background-color: #FF6F6F; /* Light red for not available */
    }
    .if-required {
        background-color: #FFFFE0; /* Light yellow for if needs be */
    }
    .out-of-cam {
        background-color: #772727; /* Dark red for out of cambridge */
        color: white;
    }
    .race-day{
        box-shadow: inset 0px 0px 0px 4px #bb0088;
    }
    .event-day{
        box-shadow: inset 0px 0px 0px 4px #0088bb;
    }
    .race-event-day{
        box-shadow: inset 0px 0px 0px 2px #0088bb,
                    inset 0px 0px 0px 4px #bb0088;
    }
    .button-group {
        margin-bottom: 10px;
    }
    .active-button {
        border: 3px solid black; /* Strong black border */
    }
    #markAvailable {
        background-color: #98FB98; /* Match the 'available' cell color */
        color: black;
    }
    #markNotAvailable {
        background-color: #FF6F6F; /* Match the 'not-available' cell color */
        color: black;
    }
    #markIfRequired {
        background-color: #FFFFE0; /* Match the 'if-needs-be' cell color */
        color: black;
    }
    #markOutOfCam {
        background-color: #772727; /* Match the 'if-needs-be' cell color */
        color: white;
    }

    .fill-grey{
        background-color: #CCCCCC;
        cursor: not-allowed;
    }
    button {
        border: none;
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
        margin-right: 10px;
    }
    /* Ensures proper alignment and spacing */
    td, th {
        min-width: 100px;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap; /* Allow items to wrap within the container */
    }
    .flex-item {
        flex: 0 1 auto; /* Flexibly grow and shrink as needed */
        min-width: 10px; /* Minimum width for the input field */
        max-width: none;
        display: inline-flex; /* Ensures the items only take the space they need */
        width: auto !important;
        box-sizing: content-box; /* Ensure padding doesn't affect width */
    }
    button {
        flex: 0 1 auto; /* Prevent the button from stretching */
        white-space: nowrap; /* Prevent the button text from wrapping */
    }
    #add-boat {
        display: block; /* Makes sure it's treated as a block element */
        margin-left: auto; /* Pushes the button to the right */
    }
</style>

<div class="container mt-5">
    <div class="p-4 border rounded">
        <div class="p-3 border rounded">
            <h3 class="mb-4 "> Upcoming Races and Events </h3>

            <table id="availabilityTable" border="1" class='table table-hover table-striped'>
                <thead>
                    <tr>
                        <th style="width:15%">Date</th>
                        <th style="width:25%">Event</th>
                        <th style="width:10%">Type</th>
                        <th style="width:25%" title="Who is racing in this race or going to this event?">Who?</th>
                        <th style="width:10%">Action</th>
                    </tr>
                </thead>
                <tbody id='eventsBody'>
                    {% for event in races_events %}
                        <tr>
                            <td> {{ event.date }} </td>
                            <td> {{ event.name }} </td>
                            <td> {{ event.type }} </td>
                            <td>
                                {% for crew in event.crews %}
                                    <div class='btn btn-secondary'> {{crew}} </div>
                                {% endfor %}
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <form method="POST" action="/captains/races" class="me-1"> <!-- Add margin to the right -->
                                        <input type="hidden" name="delete_event" value="{{ event.event_id }}">
                                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                    </form>
                                    <button type="button" class="btn btn-warning btn-sm edit-event"
                                            data-date="{{ event.date }}"
                                            data-name="{{ event.name }}"
                                            data-type="{{ event.type }}"
                                            data-crews="{{ ','.join(event.crews) }}"
                                            data-id="{{ event.event_id }}">Edit</button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <h3 class="mb-4 mt-4"> Add New Race or Event </h3>
        <form method="POST" id="addEvent" action="/captains/races">
            <table class="table border-0">
                <thead class="border-bottom-custom">
                    <tr>
                        <th style="width:15%">Date</th>
                        <th style="width:25%">Event</th>
                        <th style="width:10%">Type</th>
                        <th style="width:25%" title="Who is racing in this race or going to this event?">Who?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="date" id="date" name="date" class="form-control" required>
                        </td>
                        <td>
                            <input type="text" class='form-control' id="name" name="name" required>
                        </td>
                        <td>
                            <select id="type" name="type" class="form-control">
                                <option>Race</option>
                                <option>Event</option>
                            </select>
                        </td>
                        <td>
                            <div id="new-boats" class="flex-container">
                            <!-- New crew fields will be added here -->
                                <div class='d-flex align-items-center mb-1'>
                                    <input type="text" name="boat_[]" class="form-control me-2" placeholder="Which crews?" />
                                    <button type="button" class="btn btn-danger btn-sm remove-field">X</button>
                                </div>
                                <button type="button" class="btn btn-success btn-sm" id="add-boat" >+</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row mb-3">
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            <input id="event_id" name="event_id" value="" hidden />
        </form>
    </div>
</div>

<script src="{{url_for('static', filename='js/races.js')}}"></script>

{% endblock %}
